{% extends 'base.html' %}

{% block content %}

    <!-- delete recipe form -->
      <section id="delete-page" class="auth">
        <form action="{% url 'recipe_delete' recipe_id=recipe.id%}" method="post">
          <div class="container">
            <h1>Delete Recipe</h1>
            {{ form }}
            {% csrf_token %}
            <!-- delete button -->
            <input class="btn submit" type="submit" value="Delete Recipe" />
          </div>
        </form>
      </section>

{% endblock %}